{% extends 'header_footer.html' %}

{% block main %}

<!-- content -->
<section>
    <div class="mainw3 form">
        <div class="subscribe wrapper">
            <div class="subscribe-w3lsbottom text-center">
                <div class="w3l-page">
                    Désolé!
                </div>
                <h6>Cette page est toujours en cours de dévéloppement.</h6>
                <h2>{./.}
                    <p class="page-mk">très bientôt</p>
                </h2>
            </div>
        </div>
    </div>
    <!-- //content -->
</section>

{% endblock %}

        