{% extends 'header_footer.html' %}

{% block main %}

<!-- content -->
<section>
    <div class="mainw3 form" style="z-index: 0;">
        <div class="subscribe wrapper">
            <div class="subscribe-w3lsbottom text-center">
                <div class="w3l-page">
                     {{_('Désolé!')}}
                </div>
                <h6>{{_('Cette page est toujours en cours de dévéloppement.')}}</h6>
                <h2>{./.}
                    <p class="page-mk">{{_('très bientôt')}}</p>
                </h2>
            </div>
        </div>
    </div>
    <!-- //content -->
</section>

{% endblock %}

        