{% extends 'header_footer.html' %}

{% block main %}

<!-- content -->
<section>
    <div class="mainw3 form">
        <div class="subscribe wrapper">
            <div class="subscribe-w3lsbottom text-center">
                <div class="w3l-page">
                    Oops!
                </div>
                <h6>Il semble que vous ayez pris une mauvaise direction.</h6>
                <h2>404
                    <p class="page-mk">page non trouvée</p>
                </h2>
            </div>
        </div>
    </div>
    <!-- //content -->
</section>

{% endblock %}
