{% extends 'header_footer.html' %}

{% block main %}

<!-- content -->
<section class="w3l-error-block" style="z-index: 0;">
    <div class="mainw3 form">
        <div class="subscribe wrapper">
            <div class="subscribe-w3lsbottom text-center">
                <div class="w3l-page">
                    {{_('Oops!')}}
                </div>
                <h6>{{_("L'administrateur a été prévenu. Désolé pour le dérangement!")}}</h6>
                <h2>500
                    <p class="page-mk">{{_('une erreur inattendue est survenue')}} </p>
                </h2>
            </div>
        </div>
    </div>
    <!-- //content -->
</section>

{% endblock %}
