{% extends 'header_footer.html' %}

{% block main %}

    {% include 'banner_lg.html' %}
    <!-- Call To Action Start -->
    <section class="cta d-md-block d-none" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
                <div class="content" data-aos="fade-right" data-aos-delay="200">
                    <h2>{{_('SOUSCRIVEZ-VOUS À NOTRE JOURNAL')}}</h2>
                    <p>{{_('En vous inscrivant à notre liste de diffusion, vous serez toujours au courant des dernières nouvelles')}}</p>
                </div>
                <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                    <a href="#newsletter" class="btn btn-primary">{{_('Souscrire')}}</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action End -->

    <!-- à la une -->
    <section class="w3l-services">
        <div class="container pt-5">
            <h3 class="title-big text-center mb-sm-5 mb-4">{{_('À la Une')}}</h3>
        </div>
        <div class="container pb-5">
            <div class="row">
                <div class="col-12 col-md-4 col-sm-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">      
                                <img src="{{ url_for('static', filename='assets/images/dev/ad_icon.webp')}}" class="d-block w-100" style="height: 250px;" alt="...">         
                            </div>
                            {% for pub in pubs[:5] %}
                            <div class="carousel-item">
                                <a href="{{ url_for('pub_view', pub_id=pub.id, category=pub.category, _external=True) }}">
                                    <div class="card-img-overlay text-center d-flex justify-content-center align-items-end">
                                        <!-- <h6><span class="text-primary">{{pub.title}}</span></h6> -->
                                    </div>
                                </a>
                                <img src="{{ url_for('static', filename=pub.image_1)}}" class="d-block w-100" style="height: 250px;" alt="...">         
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 d-none d-md-block">
                    {% for traducteur in traducteurs_need_ad[:2] %}
                    <div class="col mb-2">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="{{ url_for('static', filename=traducteur.author.avatar)}}" alt="Avatar">
                                </div>
                                <div class="flip-card-back">
                                    <a href="{{ url_for('traducteur_single', trad_id=traducteur.id, _external=True) }}">
                                        <h3>{{traducteur.author.username}}</h3>
                                        <h5>
                                            <span class="fa fa-star" {% if traducteur.test_score>= 1 %} style="color: orange;" {% endif %}></span>
                                            <span class="fa fa-star" {% if traducteur.test_score>= 2 %} style="color: orange;" {% endif %}></span>
                                            <span class="fa fa-star" {% if traducteur.test_score>= 3 %} style="color: orange;" {% endif %}></span>
                                            <span class="fa fa-star" {% if traducteur.test_score>= 4 %} style="color: orange;" {% endif %}></span>
                                            <span class="fa fa-star" {% if traducteur.test_score>= 5 %} style="color: orange;" {% endif %}></span>
                                        </h5>
                                        <p>{{traducteur.skill_1}}</p>
                                        <p {% if traducteur.skill_2=='' %} class="d-none" {% endif %}>{{traducteur.skill_2}}</p>
                                        <p>{{_('Pays: %(country)s', country=traducteur.current_country)}}</p>
                                        <p>
                                            {% if traducteur.dispo %}
                                            <strong class="text-success">{{_('Disponible')}}</strong>
                                            {% else %}
                                            <strong class="text-danger">{{_('Occupé(e)')}}</strong>
                                            {% endif %}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="col-12 col-md-4 col-sm-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">      
                                <img src="{{ url_for('static', filename='assets/images/dev/ad_icon.webp')}}" class="d-block w-100" style="height: 250px;" alt="...">         
                            </div>
                            {% for pub in pubs[5:] %}
                            <div class="carousel-item">
                                <a href="{{ url_for('pub_view', pub_id=pub.id, category=pub.category, _external=True) }}">
                                    <div class="card-img-overlay text-center d-flex justify-content-center align-items-end">
                                        <!-- <h6><span class="text-primary">{{pub.title}}</span></h6> -->
                                    </div>
                                </a>
                                <img src="{{ url_for('static', filename=pub.image_1)}}" class="d-block w-100" style="height: 250px;" alt="...">         
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- // Pubs -->
        </div>
    </section>
    <!-- Traducteur End -->

    <!-- home page Nos valeurs section -->
    <section class="w3l-services">
        <div class="container">
            <h3 class="title-big text-center mb-sm-5 mb-4">{{_('Nos valeurs')}}</h3>
            <div class="row">
                <div class="col-md-12 mx-auto pr-2">
                    <div class="owl-two owl-carousel owl-theme">
                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                        <span class="fa fa-slideshare"></span>
                                    </div>
                                    <h4 class="number">01</h4>
                                    <h4><a href="{{ url_for('about_us', _external=True) }}">{{_('Honesty is the best policy')}}</a></h4>
                                    <p>{{_("En français \"L'honnêteté est la meilleure des stratégies à adopter\", ceci constitue notre devise première")}}</p>
                                    <a href="{{ url_for('about_us', _external=True) }}" class="read">{{_('Voir plus')}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                      <span class="fa fa-star"></span>
                                    </div>
                                    <h4 class="number">02</h4>
                                    <h4><a href="{{ url_for('about_us', _external=True) }}">{{_('Notre satisfaction personnelle, être à la hauteur de tout chalenge')}}</a></h4>
                                    <p>{{_("et être les meilleurs pour réserver un travail parfait à nos clients, c'est ce que nous savons le mieux faire, tout en œuvrant
                                        constamment pour nous parfaire!")}}</p>
                                      <a href="{{ url_for('about_us', _external=True) }}" class="read">{{_('Voir plus')}}</a>
                                  </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="card">
                                <div class="box-wrap">
                                    <div class="icon">
                                      <span class="fa fa-graduation-cap"></span>
                                    </div>
                                    <h4 class="number">03</h4>
                                    <h4><a href="{{ url_for('about_us', _external=True) }}">{{_('Un travail de qualité dans le délais')}}</a></h4>
                                    <p>{{_('à chaque fois nous surpasser, sont nos meilleurs atouts et spots publicitaires')}}</p>
                                      <a href="{{ url_for('about_us', _external=True) }}" class="read">{{_('Voir plus')}}</a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //home page nos valeurs section -->

    <!-- Traducteurs -->
    <section class="w3l-services">
        <div class="container">
            <h3 class="title-big text-center mb-sm-5 mb-4">{{_('Traducteurs')}}</h3>
        </div>
        <div class="container">
            <div class="row">
                {% for traducteur in traducteurs[:10] %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="{{ url_for('static', filename=traducteur.author.avatar)}}" alt="Avatar">
                            </div>
                            <div class="flip-card-back">
                                <a href="{{ url_for('traducteur_single', trad_id=traducteur.id, _external=True) }}">
                                    <h3>{{traducteur.author.username}}</h3>
                                    <h5>
                                        <span class="fa fa-star" {% if traducteur.test_score>= 1 %} style="color: orange;" {% endif %}></span>
                                        <span class="fa fa-star" {% if traducteur.test_score>= 2 %} style="color: orange;" {% endif %}></span>
                                        <span class="fa fa-star" {% if traducteur.test_score>= 3 %} style="color: orange;" {% endif %}></span>
                                        <span class="fa fa-star" {% if traducteur.test_score>= 4 %} style="color: orange;" {% endif %}></span>
                                        <span class="fa fa-star" {% if traducteur.test_score>= 5 %} style="color: orange;" {% endif %}></span>
                                    </h5>
                                    <p>{{traducteur.skill_1}}</p>
                                    <p {% if traducteur.skill_2=='' %} class="d-none" {% endif %}>{{traducteur.skill_2}}</p>
                                    <p>{{_('Pays: %(country)s', country=traducteur.current_country)}}</p>
                                    <p>
                                        {% if traducteur.dispo %}
                                        <strong class="text-success">{{_('Disponible')}}</strong>
                                        {% else %}
                                        <strong class="text-danger">{{_('Occupé(e)')}}</strong>
                                        {% endif %}
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-6 col-12">
                  <div class="wrimagecard wrimagecard-topimage">
                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                      <i class="fa fa-area-chart text-primary" ></i><h4 class="float-right">{{dashbord_last_month.accueil_view}}</h4>
                    </div>
                    <div class="wrimagecard-topimage_title">
                      <h6>{{_('Page Acceuil')}}</h6>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {% print((dashbord_this_month.accueil_view*100)/(dashbord_last_month.accueil_view+1)) %}%" 
                          aria-valuenow="{% print((dashbord_this_month.accueil_view*100)/(dashbord_last_month.accueil_view+1)) %}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="wrimagecard wrimagecard-topimage">
                    <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                      <i class="fa fa-area-chart text-warning" ></i><h4 class="float-right">{{dashbord_last_month.traducteur_view}}</h4>
                    </div>
                    <div class="wrimagecard-topimage_title">
                      <h6>{{_('Page Traducteur')}}</h6>
                      <div class="progress mt-1 mb-0" style="height: 7px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {% print((dashbord_this_month.traducteur_view*100)/(dashbord_last_month.traducteur_view+1)) %}%" 
                          aria-valuenow="{% print((dashbord_this_month.traducteur_view*100)/(dashbord_last_month.traducteur_view+1)) %}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div> 
        </div>
    </section>
    <!-- Traducteurs End -->


    <!-- Pricing Start -->
    <section class="pricing-table">
        <div class="container">
            <div class="title text-center">
                <h6 class="title-primary">{{_('Nos offres')}}</h6>
                <h1 class="title-blue">{{_('Table Des Clients')}}</h1>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="0"
                        data-aos-duration="600">
                        <span>{{_('Illimité')}}</span>
                        <h2>{{_('Basique')}}</h2>
                        <p class="desc">{{_('Vous payez uniquement pour les services')}}</p>
                        <p class="price">{{config['OFFRE_STATUTS']['gratuit']['price_eur']}}€ | {{config['OFFRE_STATUTS']['gratuit']['price_da']}}Da</p>
                        <p>{{_("Cette offre par défaut vous autorise à engager des prestataires pour vos besoins en traduction ou interprètation")}}</p>
                        <a href="#" class="btn btn-primary disabled">{{_('Défaut')}}</a>
                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(21, 108, 238)"
                                d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                        </svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="600">
                        <span>{{_('12 Mois')}}</span>
                        <h2>{{_('Premium')}}</h2>
                        <p class="desc">{{_('Bénéficiez de cette offre durant 12 mois')}}</p>
                        <p class="price">{{config['OFFRE_STATUTS']['premium']['price_eur']}}€</p>
                        <p class="price">{{config['OFFRE_STATUTS']['premium']['price_da']}}Da</p>
                        <p>{{_('70 mots par jour')}}</p>
                        <p>{{_('Traduction en deux Langues différentes si besoin est')}}</p>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('offer_subscribe', offer_type='premium', _external=True) }}" class="btn btn-primary {% if current_user.offre_statut=='standard' or current_user.offre_statut=='premium' %} disabled {% endif %}">{{_('Abonner')}}</a>
                        {% else %}
                        <a href="{{ url_for('offer_subscribe', offer_type='premium', _external=True) }}" class="btn btn-primary">{{_('Abonner')}}</a>
                        {% endif %}
                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(21, 108, 238)"
                                d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                        </svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-pricing text-center" data-aos="fade-up" data-aos-delay="600"
                        data-aos-duration="600">
                        <span>{{_('6 Mois')}}</span>
                        <h2>{{_('Standard')}}</h2>
                        <p class="desc">{{_('Bénéficiez de cette offre durant 6 mois')}}</p>
                        <p class="price">{{config['OFFRE_STATUTS']['standard']['price_eur']}}€  | {{config['OFFRE_STATUTS']['standard']['price_da']}}Da</p>
                        <p>{{_("Cette offre moyenne vous permet de profiter des mêmes avantages que l'offre premium mais sur une durée de six mois")}}</p>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('offer_subscribe', offer_type='standard', _external=True) }}" 
                            class="btn btn-primary {% if current_user.offre_statut=='standard' or current_user.offre_statut=='premium' %} disabled {% endif %}">{{_('Abonner')}}</a>
                        {% else %}
                        <a href="{{ url_for('offer_subscribe', offer_type='standard', _external=True) }}" class="btn btn-primary">{{_('Abonner')}}</a>
                        {% endif %}                        
                        <svg viewBox="0 0 170 193">
                            <path fill-rule="evenodd" fill="rgb(21, 108, 238)"
                                d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->
    

{% endblock %}
