 <!-- Hero Start -->
 <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-11">
                <div class="swiper-container hero-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">{{_('Traducteurs sur rendez-vous en ligne')}}
                                </h1>
                                <p data-aos="fade-right" data-aos-delay="600">{{_('Traducteurs sur Rendez-vous est la première plateforme qui regroupe des traducteurs freelancers algériens, et bientôt des prestataires des quatre coins du monde !')}}
                                </p><br>
                                <a data-aos="fade-right" disabled data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn btn-primary d-none d-md-table-cell
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %}">{{_('Devenir Traducteur')}}</a>
                                <a data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" class="btn btn-primary d-none d-md-table-cell">{{_('Réserver un Traducteur')}}</a>
                                <!-- Responsive md and sm button -->
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn-primary d-md-none d-table-cell btn-perso"
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %} onclick="window.location.replace(this.getAttribute('href'));">{{_('Devenir Traducteur')}}</button>
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" 
                                onclick="window.location.replace(this.getAttribute('href'));" class="btn-primary d-md-none d-table-cell btn-perso">{{_('Réserver un Traducteur')}}</button>
                            </div>
                        </div>
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">{{_('Traducteurs comment ça marche ?')}}
                                </h1>
                                <p data-aos="fade-right" data-aos-delay="600">{{_("Le principe premier, est que le client prenne rendez-vous auprès d'un traducteur qu'il aura choisi, lequel se consacrera après entente, totalement à lui...")}}
                                </p><br>
                                <a data-aos="fade-right" disabled data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn btn-primary d-none d-md-table-cell
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %}">{{_('Devenir Traducteur')}}</a>
                                <a data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" class="btn btn-primary d-none d-md-table-cell">{{_('Réserver un Traducteur')}}</a>
                                <!-- Responsive md and sm button -->
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn-primary d-md-none d-table-cell btn-perso"
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %} onclick="window.location.replace(this.getAttribute('href'));">{{_('Devenir Traducteur')}}</button>
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" 
                                onclick="window.location.replace(this.getAttribute('href'));" class="btn-primary d-md-none d-table-cell btn-perso">{{_('Réserver un Traducteur')}}</button>
                            </div>
                        </div>
                        <div class="swiper-slide slide-content d-flex align-items-center">
                            <div class="single-slide">
                                <h1 data-aos="fade-right" data-aos-delay="200">{{_('Traducteurs oeuvres caritatives')}}
                                </h1>
                                <p data-aos="fade-right" data-aos-delay="600">{{_("La plateforme s'engage, et perpétuellement; à allouer 2%(percent)s de vos paiements à des œuvres caritatives.", percent='%')}}
                                </p><br>
                                <a data-aos="fade-right" disabled data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn btn-primary d-none d-md-table-cell
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %}">{{_('Devenir Traducteur')}}</a>
                                <a data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" class="btn btn-primary d-none d-md-table-cell">{{_('Réserver un Traducteur')}}</a>
                                <!-- Responsive md and sm button -->
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur_new', _external=True) }}" class="btn-primary d-md-none d-table-cell btn-perso"
                                {% if current_user.is_authenticated %} 
                                {% if current_user.statut=='traducteur' or current_user.statut=='testeur' or current_user.statut=='admin' %} disabled {% endif %} 
                                {% endif %} onclick="window.location.replace(this.getAttribute('href'));">{{_('Devenir Traducteur')}}</button>
                                <button data-aos="fade-right" data-aos-delay="900" href="{{ url_for('traducteur', _external=True) }}" 
                                onclick="window.location.replace(this.getAttribute('href'));" class="btn-primary d-md-none d-table-cell btn-perso">{{_('Réserver un Traducteur')}}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Add Control -->
        <span class="arr-left"><i class="fa fa-angle-left"></i></span>
        <span class="arr-right"><i class="fa fa-angle-right"></i></span>
    </div>
    <div class="texture"></div>
    <div class="diag-bg"></div>
</section>
<!-- Hero End -->