{% extends 'header_footer.html' %}

{% block main %}

<!-- content -->
<section>
    <div class="mainw3 form" style="z-index: 0;">
        <div class="container">
            <div class="row">
                <div class="single-widget subscribe-widget col-md-6 col-sm-12 m-auto" data-aos="fade-up" data-aos-delay="800">
                    <h6 class="widget-tiltle">Mot de passe oublié</h6>
                    <p>Suivez la proceduire et un mail vous sera envoyé pour réinitialiser le mot de passe</p>
                    <form class="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        {% for error in form.email.errors %}
                            <span class="text-danger">[{{ error }}]</span>
                        {% endfor %}
                        <div class="input-group">
                            {{ form.email(size=64, class="field form-control", placeholder="Adresse Email") }}
                            <span class="input-group-btn">
                                <button type="submit" name="submit-mail"><i class="fa fa-check"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- //content -->
</section>

{% endblock %}
