{% extends 'header_footer.html' %}

{% block main %}
<!-- content -->
<section class="mainw3 form">
    <div class="container mt-sm-5 pt-sm-5">
        <div class="row mt-5">
           <div class="col-sm-6 col-md-4 mb-3">
                <div class="contact-box shadow-sm bg-white">
                    <div class="contact-head text-center"><h3>Message</h3></div>
                    <div class="contact-nav shadow-sm bg-white">
                        <strong>
                            <i type="button" class="fa fa-envelope text-center contact-tab" 
                                style="border-right: 1px solid #eee; width: 50%;" onclick="openMsg()"></i>
                            <i type="button" class="fa fa-users text-center contact-tab" onclick="closeMsg()" style="width: 48%;"></i>
                        </strong>
                    </div>
                    <div class="contact-container1" id="scroll" style="display: none;">

                    </div>
                    <div class="contact-container2">

                    </div>
                    <form method="post" action="{{ url_for('send_message', _external=True) }}" enctype="multipart/form-data" id="msgForm">
                        <div class="input-container shadow-sm bg-white">
                            <textarea id="msgText" class="contact-form"></textarea>
                            <input type="hidden" class="get_message_url" href="{{ url_for('get_message', _external=True) }}">
                            <input type="hidden" value="" class="receiver_id">
                            <input type="file" class="d-none" name="msgFile" id="msgFile" oninput="sendfile(this);">
                            <i type="button" class="fa fa-paperclip icon" onclick="return document.getElementById('msgFile').click();" 
                                id="file_input" style="transform: rotate(43deg)"></i>
    
                            <i type="button" id="text_input" onclick="sendtext()" class="fa fa-check icon"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="tab-box shadow-sm bg-white p-2 w-100">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Accords</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Paiements</a>
                        </li>
                    </ul>
                    <div class="tab-content w-100" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="POST" autocomplete='off' action="{{ url_for('update_profile', _external=True) }}" id="update-profile" enctype="multipart/form-data">
                                        <center>
                                            <img id="output_image" onclick="return document.getElementById('image').click();" src="{{ current_user.avatar }}" 
                                            style="width: 150px; height: 150px; border-radius: 50%; border: 5px solid #eee;">
                                            <input type="file" class="custom-file-input hidden" accept="image/*" name="image" id="image" oninput="filesize(this);" onchange="loadFile(event, 'output_image')">
                                            <input type="hidden"  name="size" id="size"/>  
                                        </center>
                                        <p class="text-center">
                                            <span class="badge badge-primary">{{current_user.offre_statut}}</span>
                                            {% if current_user.offre_statut=='gratuit' %} 
                                            <span class="badge badge-success">Illimité</span> 
                                            {% else %}
                                            <span class="badge badge-success">{{current_user.remain_day}} jour(s)</span> 
                                            {% endif %}
                                            <span class="badge badge-secondary">Revenu: {{current_user.revenu}} da</span> 
                                        </p>
                                        <div class="form-container">
                                            <input type="text" 
                                                {% if current_user.pseudo_com != None %} disabled value="{{ current_user.pseudo_com }}" {% endif %} 
                                                placeholder="Pseudo du parrain (optionnel)" name="pseudo_com" maxlength="32">
                                            <input type="text"
                                                {% if current_user.username != None %} disabled value="{{ current_user.username }}" {% endif %}
                                                placeholder="Nom d'utilisateur" name="username" required maxlength="32">
                                            <select name="country" required="">
                                                <option value="">{{_('Pays')}}</option>
                                                {% for country in config['COUNTRIES'] %}
                                                <option {% if current_user.country==country %} selected disabled {% endif %} value="{{ country }}">{{ country }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-container">
                                        <select name="sex" required="" form="update-profile">
                                            <option value="">{{_('Sexe')}}</option>
                                            {% for sex in config['SEX'] %}
                                            <option {% if current_user.sex==sex %} selected disabled {% endif %} value="{{ sex }}">{{ sex }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="password" {% if current_user.google_login %} disabled {% endif %} form="update-profile"  
                                            placeholder="{{_('Ancien mot de passe')}}" name="old_password">
                                        <input type="password" {% if current_user.google_login %} disabled {% endif %} form="update-profile"  
                                            placeholder="{{_('Nouveau mot de passe')}}" name="new_password">
                                    </div>
                                    <p><strong>{{_('Nom complet:')}}</strong> {{current_user.fullname}}</p>
                                    <p><strong>{{_('E-mail:')}}</strong> {{current_user.email}}</p>
                                    <p><strong>{{_('Membre depuis:')}}</strong> {{ moment(current_user.timestamp).format('LL')}}</p>

                                    <button type="submit" form="update-profile" class="btn btn-primary">{{_('Modifier')}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>{{_('Photo')}}</th>
                                        <th class="d-none d-md-block">{{_('Détails')}}</th>
                                        <th>{{_('Statut')}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for deal in deals[:10] %}
                                    <tr>
                                        <td class="invert-image" rowspan="2">                                         
                                            <a>
                                                <img src="{{ deal.friend.avatar }}" alt=" " class="img-responsive" style="width: 80px; height: 80px">
                                            </a>
                                        </td>
                                        <td class="invert d-none d-md-block">{{deal.motif}}</td>
                                        <td>
                                            {% if deal.friend_accept %}
                                                {% if deal.admin_confirm_bill %}
                                                    {% if deal.deal_over %}
                                                    <span class="badge badge-success">{{_('Terminé')}}</span>
                                                    {% else %}
                                                    <span class="badge badge-info">{{_('En cours..')}}</span>
                                                    {% endif %}
                                                {% else %}
                                                <span class="badge badge-warning">{{_('Paiement..')}}</span>
                                                {% endif %}
                                            {% else %}
                                                <span class="badge badge-primary">{{_('Attente..')}}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="invert d-none d-md-block">
                                            <i>{{ moment(deal.timestamp).format("LL") }} </i>
                                            <i {% if deal.deal_over %} class="" {% else %} class="d-none" {% endif %}> - {{ moment(deal.deal_over_time).format("LL")  }}</i>
                                        </td>       
                                        <td class="invert">
                                            <span type="button" class="badge badge-primary px-2" data-toggle="modal" data-target="#modal_aside_left" 
                                                data-itemid="{{deal.id}}" 
                                                data-whatever="{{deal.motif}}"
                                                data-columns="{{deal.amount}}"
                                                data-parent="{{deal.friend.username}}"
                                                data-draggable="{{deal.payment_way}}"
                                                data-dropzone="{{ deal.payment_bill }}">{{_('Aperçu')}}
                                            </span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- deal modal -->
                            <div id="modal_aside_left" class="modal fixed-left fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-aside" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Editer ou joindre une pièce </h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>motif: </strong><i class="motif"></i></p>
                                        <p><strong>Coût: </strong><i class="amount"></i></p>
                                        <p><strong>Prestataire: </strong><i class="username"></i></p>
                                        <p><strong>Type de paiement: </strong><i class="payment_way"></i></p>
                                        
                                        <form class="form-container" method="post" action="{{ url_for('deal_submit_bill', _external=True) }}" enctype="multipart/form-data" id="dealView">
                                            <p>
                                                <select onchange="document.getElementById('payment_desc').innerText=this.value">
                                                    <option>{{_('Méthode de paiement')}}</option>
                                                    {% for method in config['PAYMENT_METHOD'] %}
                                                    <option value="{{ method.desc }}">{{ method.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span  id="payment_desc"></span>
                                            </p>
                                            <p>Modifiez le motif (optionnel)
                                                <input class="motif_update" name="motif_update" required type="text" maxlength="30">
                                            </p>
                                            <p>Modifiez le prix (optionnel)
                                                <input class="amount_update" name="amount_update" required type="number" maxlength="30">
                                            </p>
                                            <p>Ajoutez le reçu de paiement
                                                <img id="output_payment_bill" onclick="return document.getElementById('payment_bill').click();" src="https://storage.googleapis.com/tradrdv/dev/101671.png" 
                                                style="width: 90%; height: 200px; border: 5px solid #eee;">
                                                <input accept="image/*" type="file" class="custom-file-input hidden" name="payment_bill" id="payment_bill" onchange="loadFile(event, 'output_payment_bill')">
                                                <input class="deal_id" name="deal_id" required type="hidden">
                                            </p>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" form="dealView" class="btn-perso">Enregistrer</button>
                                    </div>
                                  </div>
                                </div> <!-- modal-bialog .// -->
                            </div> <!-- modal.// -->
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Motif</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for payment in payments %}
                                    <tr>
                                        <td>{{payment.motif}}</td>
                                        <td>{{payment.amount}}da</td>
                                        <td>{{moment(payment.timestamp).format('LL')}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<!-- //content -->

<script>
	function filesize(elem){
		document.getElementById("size").value = `${elem.files[0].size}`
	}
	
    var loadFile = function(event, output) {
	    var image = document.getElementById(output);
	    image.src = URL.createObjectURL(event.target.files[0]);
	};
</script>

<script src="{{ url_for('static', filename='assets/js/messenger.js')}}"></script>

<script>

    $('#modal_aside_left').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var deal_id = button.data('itemid') // Extract info from data-* attributes
        var motif = button.data('whatever')
        var amount = button.data('columns')
        var username = button.data('parent')
        var payment_way = button.data('draggable')
        var payment_bill = button.data('dropzone')
        
        var modal = $(this)
        modal.find('.modal-body .deal_id').val(deal_id)
        
        modal.find('.modal-body .motif').text(motif)
        modal.find('.modal-body .motif_update').val(motif)

        modal.find('.modal-body .amount').text(amount)
        modal.find('.modal-body .amount_update').val(amount)

        modal.find('.modal-body .username').text(username)
        modal.find('.modal-body .payment_way').text(payment_way)
        document.getElementById(output_payment_bill).src = payment_bill

    })

</script>

{% endblock %}
