{% extends 'header_footer.html' %}

{% block main %}

<!-- banner section -->
<section style="padding-top: 150px; padding-bottom: 50px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
                <span class="title-small">Bonjour</span>
                <h1 class="mb-2"> <span>Je suis</span> {{traducteur.author.username}} </h1>
                <h1 class="mb-4"> un <span class="typed-text"></span><span class="cursor">&nbsp</span></h1>
                <p>{{traducteur.about_me}}</p>
                <h5>Langues:</h5>
                  <div class="row">
                    <div class="col col-sm-6">
                      <ul class="list-unstyled">
                        <li>{{traducteur.skill_1}}</li>
                        <li {% if traducteur.skill_2=='' %} class="d-none" {% endif %}>{{traducteur.skill_2}}</li>
                        <li {% if traducteur.skill_3=='' %} class="d-none" {% endif %}>{{traducteur.skill_3}}</li>
                        <li {% if traducteur.skill_4=='' %} class="d-none" {% endif %}>{{traducteur.skill_4}}</li>
                        <li {% if traducteur.skill_5=='' %} class="d-none" {% endif %}>{{traducteur.skill_5}}</li>
                      </ul>
                    </div>
                    <div class="col col-sm-6">
                      <ul class="list-unstyled">
                        <li {% if traducteur.skill_6=='' %} class="d-none" {% endif %}>{{traducteur.skill_6}}</li>
                        <li {% if traducteur.skill_7=='' %} class="d-none" {% endif %}>{{traducteur.skill_7}}</li>
                        <li {% if traducteur.skill_8=='' %} class="d-none" {% endif %}>{{traducteur.skill_8}}</li>
                        <li {% if traducteur.skill_9=='' %} class="d-none" {% endif %}>{{traducteur.skill_9}}</li>
                        <li {% if traducteur.skill_10=='' %} class="d-none" {% endif %}>{{traducteur.skill_10}}</li>
                      </ul>
                    </div>
                 </div>
                 <h5>Compétences:</h5>
                 <div class="row">
                  <div class="col col-sm-6">
                    <ul class="list-unstyled">
                      <li>{{traducteur.prestation}}</li>
                      <li {% if traducteur.prestation_2=='' %} class="d-none" {% endif %}>{{traducteur.prestation_2}}</li>
                      <li {% if traducteur.prestation_3=='' %} class="d-none" {% endif %}>{{traducteur.prestation_3}}</li>
                      <li {% if traducteur.prestation_4=='' %} class="d-none" {% endif %}>{{traducteur.prestation_4}}</li>
                    </ul>
                  </div>
                  <div class="col col-sm-6">
                    <ul class="list-unstyled">
                      <li {% if traducteur.prestation_5=='' %} class="d-none" {% endif %}>{{traducteur.prestation_5}}</li>
                      <li {% if traducteur.prestation_6=='' %} class="d-none" {% endif %}>{{traducteur.prestation_6}}</li>
                      <li {% if traducteur.prestation_7=='' %} class="d-none" {% endif %}>{{traducteur.prestation_7}}</li>
                    </ul>
                  </div>
                 </div>         
                <h5>Points étoiles:
                    <span class="fa fa-star" {% if traducteur.test_score>= 1 %} style="color: orange;" {% endif %}></span>
                    <span class="fa fa-star" {% if traducteur.test_score>= 2 %} style="color: orange;" {% endif %}></span>
                    <span class="fa fa-star" {% if traducteur.test_score>= 3 %} style="color: orange;" {% endif %}></span>
                    <span class="fa fa-star" {% if traducteur.test_score>= 4 %} style="color: orange;" {% endif %}></span>
                    <span class="fa fa-star" {% if traducteur.test_score>= 5 %} style="color: orange;" {% endif %}></span>
                </h5>
                <h5>Statut:
                  {% if traducteur.dispo %}
                  <span class="badge badge-success">Disponible</span>
                  {% else %}
                  <span class="badge badge-danger">Occupé(e)</span>
                  {% endif %}
                  Abonné(e):
                  {% if traducteur.accept_subscriber %}
                  <span class="badge badge-success">Accepte</span>
                  {% else %}
                  <span class="badge badge-danger">Rejete</span>
                  {% endif %}
                </h5>
                <h5>Missions accomplies: {{traducteur.success_work}}/{{traducteur.success_work+traducteur.unsuccess_work}}</h5>
                <h5>Adresse: {{traducteur.current_country}}, {{traducteur.current_town}}</h5>
                <div class="mt-sm-5 mt-4">
                  <p>Il est recommandé de contacter le prestataire et de discuter des détails avant de l'engager</p>
                  <a class="btn btn-primary tn-style mr-2" data-toggle="modal" data-target="#modal_aside_left" 
                    data-itemid="{{traducteur.id}}"> Engagez-moi </a>
                  <a class="btn btn-outline-primary tn-style mr-2" href="{{ url_for('contact_trad', trad_id=traducteur.id, _external=True) }}"> Contactez </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-10 mt-lg-0 mt-4">
                <div class="img-effect text-lg-center">
                    <img src="{{traducteur.author.avatar}}" style="width: 70%; height: 70%; border-radius: 50%; border: 5px solid #eee;" alt="myphoto" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- deal modal -->
    <div id="modal_aside_left" class="modal fixed-left fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Engagez le Prestataire</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Il est recommandé de contacter le prestataire et de discuter des détails avant de l'engager</p>
              
              <form class="form-container" method="post" action="{{ url_for('trad_hire', _external=True) }}" enctype="multipart/form-data" id="dealView">
                <input class="trad_id" name="trad_id" required type="hidden">
                <p>
                      <select name="payment_way" required>
                          <option value="">{{_('Méthode de paiement')}}</option>
                          {% for method in config['PAYMENT_WAY'] %}
                          <option {% if method == 'abonnement' and current_user.offre_statut == 'gratuit' %} class="d-none" {% endif %}
                             value="{{ method }}">{{ method }}</option>
                          {% endfor %}
                      </select>
                  </p>
                  <p>Motif
                      <input class="motif_update" name="motif" placeholder="Traduction de 100 mots Français-Anglais" required type="text" maxlength="30">
                  </p>
                  <p>
                    <select name="devise" required>
                        <option value="">{{_('Devise')}}</option>
                        {% for devise in config['DEVISES'] %}
                        <option value="{{ devise.symbol }}">{{ devise.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                  <p>Budget du client
                      <input class="amount" name="amount" required value="0" type="number">
                  </p>
              </form>

          </div>
          <div class="modal-footer">
            <button type="submit" form="dealView" class="btn-perso">Enregistrer</button>
          </div>
        </div>
      </div> <!-- modal-bialog .// -->
  </div> <!-- modal.// -->


</section>
<!-- //banner section -->


<!-- /typig-text-->
<script>
  const typedTextSpan = document.querySelector(".typed-text");
  const cursorSpan = document.querySelector(".cursor");

  const textArray = ["Traducteur", "Freelancer", "Multilingue"];
  const typingDelay = 200;
  const erasingDelay = 10;
  const newTextDelay = 100; // Delay between current and next text
  let textArrayIndex = 0;
  let charIndex = 0;

  function type() {
    if (charIndex < textArray[textArrayIndex].length) {
      if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
      typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
      charIndex++;
      setTimeout(type, typingDelay);
    } else {
      cursorSpan.classList.remove("typing");
      setTimeout(erase, newTextDelay);
    }
  }

  function erase() {
    if (charIndex > 0) {
      // add class 'typing' if there's none
      if (!cursorSpan.classList.contains("typing")) {
        cursorSpan.classList.add("typing");
      }
      typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
      charIndex--;
      setTimeout(erase, erasingDelay);
    } else {
      cursorSpan.classList.remove("typing");
      textArrayIndex++;
      if (textArrayIndex >= textArray.length) textArrayIndex = 0;
      setTimeout(type, typingDelay);
    }
  }

  document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
    if (textArray.length) setTimeout(type, newTextDelay + 250);
  });
</script>
<!-- //typig-text-->

<script>

  $('#modal_aside_left').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var trad_id = button.data('itemid') // Extract info from data-* attributes
    
      var modal = $(this)
      modal.find('.modal-body .trad_id').val(trad_id)
      
  })

</script>

{% endblock %}
