{% extends 'header_footer.html' %}

{% block main %}

    <!-- content -->
    <section class="pt-sm-n5" style="padding-top: 150px">
        <div class="container">
            <div class="row mt-5 mb-5">
                <!-- Filter -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="term-collapse p-0">
                            <button type="button" class="collapsible">{{_('Filtre')}}</button>
                            <div class="collapsible-content w-100 p-0">
                                <form class="form-container" method="post" action="{{ url_for('filter_trad', _external=True) }}">
                                    <p>
                                        <select name="prestation" required class="m-0 mt-1">
                                            <option value=''>{{_('Prestation')}}</option>
                                            {% for prestation in config['PRESTATIONS'] %}
                                            <option value='{{prestation}}'>{{prestation}}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="skill" required class="m-0">
                                            <option value="">{{_('Langues')}}</option>
                                            {% for skill in config['SKILLS'] %}
                                            <option value="{{ skill }}">{{ skill }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="country" required  class="m-0">
                                            <option value="">{{_('Pays de résidence')}}</option>
                                            {% for country in config['COUNTRIES'] %}
                                            <option value="{{ country }}">{{ country }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="success_work" class="m-0">
                                            <option value=0 selected>{{_('Commande Terminée')}}</option>
                                            <option value=5 selected>{{_('Au moins 5')}}</option>
                                            <option value=15 selected>{{_('Au moins 15')}}</option>
                                            <option value=45 selected>{{_('Au moins 45')}}</option>
                                            <option value=100 selected>{{_('Au moins 100')}}</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label class="checkbox_container">{{_('Accepte abonné(e)')}}
                                            <input type="checkbox" name="accept_subscriber">
                                            <span class="checkmark"></span>
                                        </label>
                                    </p>
                                    <button type="submit" class="btn-perso">{{_('Filtrer')}}</button>
                                </form>
                            </div>
                    </div>
                </div>
                <!-- Traducteurs -->
                <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                    <div class="container">
                        <h3 class="title-big text-center mb-sm-5 mb-4">{{_('Traducteurs')}}</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            {% for traducteur in traducteurs %}
                            <div class="col-12 col-md-6 col-lg-4 mb-2 w-100">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="{{url_for('static', filename=traducteur.Traducteur.author.avatar)}}" alt="Avatar">
                                        </div>
                                        <div class="flip-card-back">
                                            <a href="{{ url_for('traducteur_single', trad_id=traducteur.Traducteur.id, _external=True) }}">
                                                <h3>{{traducteur.Traducteur.author.username}}</h3>
                                                <h5>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 1 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 2 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 3 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 4 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 5 %} style="color: orange;" {% endif %}></span>
                                                </h5>
                                                <p>{{traducteur.Traducteur.skill_1}}</p>
                                                <p {% if traducteur.Traducteur.skill_2=='' %} class="d-none" {% endif %}>{{traducteur.Traducteur.skill_2}}</p>
                                                <p>{{_('Pays:')}} {{traducteur.Traducteur.current_country}}</p>
                                                <p>
                                                    {% if traducteur.Traducteur.dispo %}
                                                    <strong class="text-success">{{_('Disponible')}}</strong>
                                                    {% else %}
                                                    <strong class="text-danger">{{_('Occupé(e)')}}</strong>
                                                    {% endif %}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 4th section pagination -->
                    <center>
                        <div class="pagination text-center mt-3">
                            <a href="{{prev_url}}" {% if not has_prev %} onclick="return false;" {% endif %}>&laquo;</a>
                            <a href="#" class="active" onclick="return false;">{{page}}</a>
                            <a href="{{next_url}}" {% if not has_next %} onclick="return false;" {% endif %}>&raquo;</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{% endblock %}
