{% extends 'header_footer.html' %}

{% block main %}

    <!-- content -->
    <section class="pt-sm-n5" style="padding-top: 150px">
        <div class="container">
            <div class="row mt-5 mb-5">
                <!-- Filter -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="term-collapse p-0">
                            <button type="button" class="collapsible">Filtre</button>
                            <div class="collapsible-content w-100 p-0">
                                <form class="form-container" method="post" action="{{ url_for('filter_trad', _external=True) }}">
                                    <p>
                                        <select name="prestation" required class="m-0 mt-1">
                                            <option value=''>{{_('Prestation')}}</option>
                                            {% for prestation in config['PRESTATIONS'] %}
                                            <option value='{{prestation}}'>{{prestation}}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="skill" required class="m-0">
                                            <option value="">{{_('Langues')}}</option>
                                            {% for skill in config['SKILLS'] %}
                                            <option value="{{ skill }}">{{ skill }}</option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="country" id="country_select_form" required onchange="getTown()" class="m-0">
                                            <option value="">{{_('Pays de résidence')}}</option>
                                            {% for country in config['COUNTRIES'] %}
                                            <option value="{{ country }}"></option>
                                            {% endfor %}
                                        </select>
                                    </p>
                                    <p>
                                        <select name="town" required id="town_select_form" class="m-0">
                                            <option value=''>{{_('Ville de résidence')}}</option>
                                        </select>
                                    </p>
                                    <p>
                                        <input name="success_work" required placeholder="Nombre de succès" type="number" class="m-0">
                                    </p>
                                    <p>
                                        <label class="checkbox_container">Disponible
                                            <input type="checkbox" name="dispo">
                                            <span class="checkmark"></span>
                                          </label>
                                          <label class="checkbox_container">Accepte abonné(e)
                                            <input type="checkbox" name="accept_subscriber">
                                            <span class="checkmark"></span>
                                        </label>
                                    </p>
                                    <p>Points étoiles
                                        <div class="rate mt-n3"> 
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                           <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </p>
                                    <p>_</p>
                                    <button type="submit" class="btn-perso">Filtrer</button>
                                </form>
                            </div>
                    </div>
                </div>
                <!-- Traducteurs -->
                <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                    <div class="container">
                        <h3 class="title-big text-center mb-sm-5 mb-4">Traducteurs</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            {% for traducteur in traducteurs %}
                            <div class="col-12 col-md-6 col-lg-4 mb-2 w-100">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front">
                                            <img src="{{traducteur.Traducteur.author.avatar}}" alt="Avatar">
                                        </div>
                                        <div class="flip-card-back">
                                            <a href="{{ url_for('traducteur_single', trad_id=traducteur.Traducteur.id, _external=True) }}">
                                                <h3>{{traducteur.Traducteur.author.username}}</h3>
                                                <h5>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 1 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 2 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 3 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 4 %} style="color: orange;" {% endif %}></span>
                                                    <span class="fa fa-star" {% if traducteur.Traducteur.test_score>= 5 %} style="color: orange;" {% endif %}></span>
                                                </h5>
                                                <p>{{traducteur.Traducteur.skill_1}}</p>
                                                <p>Pays: {{traducteur.Traducteur.current_country}}</p>
                                                <p>
                                                    {% if traducteur.Traducteur.dispo %}
                                                    <strong class="text-success">Disponible</strong>
                                                    {% else %}
                                                    <strong class="text-danger">Occupé(e)</strong>
                                                    {% endif %}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- 4th section pagination -->
                    <center>
                        <div class="pagination text-center mt-3">
                            <a href="{{prev_url}}" {% if not has_prev %} onclick="return false;" {% endif %}>&laquo;</a>
                            <a href="#" class="active" onclick="return false;">{{page}}</a>
                            <a href="{{next_url}}" {% if not has_next %} onclick="return false;" {% endif %}>&raquo;</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </section>


    <a class="d-none country_select_url" href="{{ url_for('get_town', _external=True) }}"></a>
    <script>
        // get the towns that correspond to the selected country
        function getTown() {
            var country = document.getElementById("country_select_form").value;
		    var url = $('.country_select_url').attr('href');
    		$.post(url, { country: country }, function(data, status) { 
                var options = "<option value=''>{{_('Ville de résidence')}}</option>";
                var i
                for (i = 0; i < data['towns'].length; i++) {
                    options = options + "<option value='"+data['towns'][i]+"'>"+data['towns'][i]+"</option>";
                }

                document.getElementById("town_select_form").innerHTML = options
            });
        }

    </script>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

{% endblock %}
